body {
    display: inline-block;
    background-color: #f5f5f5; /* Light background for better readability */
    font-family: 'Roboto', sans-serif; /* Modern font */
    color: #333; /* Dark text for better contrast */
}

a {
    color: #055575;
    text-decoration: solid;
}

.main-header {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    position: relative;
    text-align: center;
    background-color: #86a6bb; /* Primary color for header background */
    color: #fff; /* White text for contrast */
    padding: 20px 0; /* Padding for spacing */
}

.main-header h1, .main-header h2 {
    margin: 0;
}

#searchBox {
    margin-bottom: 30px;
    width: 93%;
}

#searchBox input {
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Consistent padding */
    width: calc(100% - 22px); /* Full width minus padding */
    font-size: 1em;
    box-sizing: border-box;
}

#searchBox button {
    background-color: #86a6bb; /* Matching button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}

.songIndex {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: #fff; /* White background for content */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px; /* Space between elements */
}

#index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: .5em;
    grid-column-gap: 1em;
}

button {
    cursor: pointer;
    display: none;
}

@media (max-width: 1024px) {
    .songIndex {
        width: 90%;
    }
    .main-header {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .songIndex {
        width: 95%;
    }

    .main-header {
        width: 95%;
    }

    #index {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-header h1 {
        font-size: 1.5em;
    }

    .main-header h2 {
        font-size: 1em;
    }

    #searchBox input {
        width: 100%;
        padding: 10px;
    }

    #searchBox button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .songIndex {
        width: 100%;
    }

    .main-header {
        width: 100%;
    }

    #index {
        grid-template-columns: 1fr;
        grid-row-gap: 1em; /* Increase vertical gap between tunes */
    }

    .main-header h1 {
        font-size: 1.2em;
    }

    .main-header h2 {
        font-size: 0.9em;
    }

    #searchBox input {
        width: 100%;
        padding: 8px;
    }

    #searchBox button {
        width: 100%;
        padding: 8px;
    }
}
